$first-color: #eeeeee;
$second-color: #00adb5;
$third-color: #f0f5f9;
$fourth-color: #1e2022;
$xd: rgb(14, 16, 19);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100vh;
}

body {
  background-color: $xd;
  section {
    background-color: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .holder {
    display: flex;
  }
  .content {
    color: $third-color;
    position: relative;
    font-size: 20px;
    text-align: left;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;

    p {
      width: 100%;
    }

    span {
      color: $second-color;
      position: relative;
      font-size: 62px;
      padding-left: 6%;
      &::before {
        content: "";
        background: #eeeeee;
        position: absolute;
        left: 0;
        top: 29px;
        height: 4px;
        width: 40px;
        border-radius: 10px;
      }
    }
    button {
      background: $second-color;
      border-radius: 15px;
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        background: $first-color;
      }
      i {
        margin-left: 5px;
      }
    }
  }
  .image {
    width: 50vmin;
    height: 60vmin;
    margin-left: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20%;
      box-shadow: 1px 10px 10px $second-color;
    }
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    button {
      background-color: $second-color;
      cursor: pointer;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 50%;
      transition: background 0.7s;
      display: flex;

      h2 {
        display: none;
      }
      &:hover {
        color: black;
        background: $first-color;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 1000px) {
  .holder {
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10vh;
  }
  body section {
    display: flex;
    flex-direction: column;
  }
  body .image {
    img {
      width: 100%;
      height: 100%;
      border-radius: 20%;
    }
  }
  body .content {
    font-size: 12px;
    margin-top: 20px;

    width: 100%;
    span {
      font-size: 32px;
      &::before {
        display: none;
      }
    }
    button {
      width: fit-content;
      font-size: 6px;
    }
  }
  body .nav-links {
    flex-direction: row;

    button {
      i {
        font-size: 100%;
      }
    }
  }
}
